doctype html
head
  link(rel='Stylesheet' href='/css/dokWypozyczenia2.css')
  script(src='https://kit.fontawesome.com/9650b96366.js' crossorigin='anonymous')
.header
  .head1
    img.logo(src='/images/LOGO.jpg' alt='Logo')
  .head2 Samochodzik
  .head3
    ul.headButtons
      li
        a.hbuttons(href='/samochody') Samochody
      li
        a.hbuttons(href='/klienci') Klienci
      li
        a.hbuttons(href='/wypozyczenie') Wypożyczenie
  .head4
    a.wyloguj(href='#wyloguj') Wyloguj
.navigation
  a.nav(href='/') Strona Główna
  a.nav(href='/klienci') Klienci
  a.nav(href='/wypozyczenie') Wypożyczenie
.main
  .mn2
    p.klienci  Wypożyczenie 
  .mn3
    .mn31
      form(action='')
        div
          br
          p.klienci Wyszukany klient
          br
      each k in kl
        .row
          .col-25
            label(for='fname') Imię
          .col-75
            input#fname(type='text' name='imie' value=k.imie readonly='')
        .row
          .col-25
            label(for='lname') Nazwisko
          .col-75
            input#lname(type='text' name='nazwisko' value=k.nazwisko readonly='')
        .row
          .divdate
            label(for='country') Data urodzenia
          .calendar
            input(type='date' name='dataUrodzenia' value=k.data_urodzenia readonly='')
        .row
          .col-25
            label(for='subject') Numer dowodu
          .col-75
            input#idNumber(type='text' name='numerDowodu' value=k.numer_dowodu readonly='')
        .row
          a.hwbutton(id='hwbutton' href='/wypozyczenie') Zmień
    .line
    .mn32
      form(method='POST' action='/szukanieSamochodu')
        div
          br
          p.klienci Samochód
          br
        .row
          .col-25
            label(for='dataOd') Data od
          .col-75
            input#id.input(type='hidden' name='id' value=kl[0].id_klienta)
            input#dataOd(type='date' name='dataOd' value=dataOd)
            p.form__help-message
        .row
          .col-25
            label(for='dataDo') Data do
          .col-75
            input#dataDo(type='date' name='dataDo' value=dataDo)
            p.form__help-message
        .row
          input(type='submit' id='hwbutton' value='Szukaj samochód')
          .col-25
      form(id='myForm' method='POST')
        table
          tr
            th.kolMarka Marka
            th.kolModel Model
            th.kolNumer Numer rejestracyjny        
            th.kolAkcja Wybierz
          each n in samochodList
            tr
              input#id.input(type='hidden' name='idSamochodu' value=n.id_samochodu)
              input#id.input(type='hidden' name='dataOd' value=dataOd)
              input#id.input(type='hidden' name='dataOd' value=dataOd)
              input#id.input(type='hidden' name='id' value=kl[0].id_klienta)
              td= n.marka
              td= n.model         
              td= n.numer_rejestracyjny           
              td
                  a.btn(href='dokonanieWypozyczenia2/'+n.id_samochodu+'/'+kl[0].id_klienta) 
                    i.fas.fa-check-circle                 
        br
        br
    //    input#id.input(type='hidden' name='dataOd' value=dataOd)
    //    input#id.input(type='hidden' name='dataOd' value=dataOd)
    //    input#id.input(type='hidden' name='id' value=kl.id_klienta)
    //    input(type='submit' style='float: right' value='Dodaj Wypożyczenie')
    //    input(type='reset' style='float: left' value='Wyczyść dane')
  .mn5
    //button.btn(type='reset' style='float: left') Wyczyść dane
    //button.btn(type='submit' style='float: right') Dodaj Wypożyczenie
.footer
  .foot1
    a.foot(href='#oNas') O nas
    a.foot(href='#kontakt') Kontakt
    a.foot(href='#pprywatnosci') Polityka Przywatności
    a.foot(href='#regulamin') Regulamin
    a.foot(href='#faq') FAQ