doctype html
head
  link(rel='Stylesheet' href='/css/edycjaKlienta.css')
.header
  .head1
    img.logo(src='/images/LOGO.jpg' alt='Logo')
  .head2 Samochodzik
  .head3
    ul.headButtons
      li
        a.hbuttons(href='/samochody') Samochody
      li
        a.hbuttons(href='/klienci') Klienci
      li
        a.hbuttons(href='/wypozyczenie') Wypożyczenie
  .head4
    a.wyloguj(href='#wyloguj') Wyloguj
.navigation
  a.nav(href='/') Strona Główna
  a.nav(href='/klienci') Klienci
  a.nav(href='/edycjaKlienta') Edytuj klienta
.main
  .mn2
    p.klienci  Edycja klienta 
  .mn3
    form(method='POST' action='/edytujKlienta' id='my-form')
      .row
        .col-25
          label(for='fname') Imię
        .col-75
          input#imie.input(type='text' required='' clas='imie' name='imie' value=kl.imie)
          p.form__help-message
          input#id.input(type='hidden' name='id' value=kl.id_klienta)
      .row
        .col-25
          label(for='lname') Nazwisko
        .col-75
          input#nazwisko.input(type='text' required='' clas='nazwisko' name='nazwisko' value=kl.nazwisko)
          p.form__help-message
      .row
        .divdate
          label(for='date') Data urodzenia
        .calendar
          input#dataUrodzenia.input(type='date' required='' clas='dataUrodzenia'  min='1940-01-01' max='2002-01-01' value=kl.data_urodzenia name='dataUrodzenia')
          p.form__help-message
      .row
        .col-25
          label(for='subject') Numer dowodu
        .col-75
          input#numerDowodu.input(type='text' required='' clas='numerDowodu' name='numerDowodu' value=kl.numer_dowodu)
          p.form__help-message
      .row
        input(type='submit' value='Zapisz zmiany')
        input(type='reset' onclick='history.back();' style='float:center' value='Anuluj')
  .mn5
.footer
  .foot1
    a.foot(href='#oNas') O nas
    a.foot(href='#kontakt') Kontakt
    a.foot(href='#pprywatnosci') Polityka Przywatności
    a.foot(href='#regulamin') Regulamin
    a.foot(href='#faq') FAQ
script(src='/validation/edycjaKlienta.js')
script.

